<h1>TidoriSushi::Users#show</h1>
<p>Find me in app/views/tidori_sushi/users/show.html.erb</p>

<%= form_with(model: @user, url: tidori_sushi_user_path(@user), method: :patch, local: true) do |f| %>
	<table>
		<tbody>
			<tr>
				<td>メールアドレス</td>
				<td><%= f.text_field :email %></td>
			</tr>
			<tr>
				<td>ニックネーム</td>
				<td><%= f.text_field :nickname %></td>
			</tr>
			<tr>
				<td>アイコン画像</td>
				<td><%= f.attachment_field :image %></td>>
			</tr>
			<tr>
				<td><p>アイコン画像で設定する画像は口コミ投稿時に表示されます</p></td>
			</tr>
		</tbody>
	</table>
	<%= f.submit "登録する" %>
<% end %>