<%= render 'layouts/error_messages', model: @user %>
<div class="box1">
	<h1>マイページ</h1>
</div>


<div class="box">
	<%= form_with(model: @user, url: tidori_sushi_user_path(@user), method: :patch, local: true) do |f| %>

				<table class="cp_table">
					<thead>
						<tr>
							<div class="icon_tr">
								<th colspan="2", class="caption">編集画面</th>
							</div>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>メールアドレス</th>
							<td><%= f.text_field :email, required: "true", placeholder: "例)　tidori@hoge.com", class: "text_field" %></td>
						</tr>
					</tbody>
				</table>
		<div class="botton">
			<%= f.submit "変更を保存する", class: "button_content button_field btn btn-primary" %>
		</div>

	<% end %>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'tidori_user_user' %>
<% end %>
