<h1>Users::EBills#index</h1>
<p>Find me in app/views/users/e_bills/index.html.erb</p>

<div>
	<%= form_with(model: @e_bill, url: users_e_bills_path, local: true) do |f| %>
		<%= f.label :genre_name, '設備ジャンル' %>
		<%= f.text_field :genre_name %>
		<%= f.label :display_status, '有効' %>
		<%= f.radio_button :display_status, :true, checked: true %>

		<%= f.label :display_status, '無効' %>
		<%= f.radio_button :display_status, :false %>
		<%= f.submit "登録" %>
	<% end %>
</div>

<div>
	<table>
		<thead>
			<tr>
				<th>ジャンル</th>
				<th>状態</th>
			</tr>
		</thead>
		<tbody>
			<% @e_bills.each do |e_bill| %>
				<tr>
					<td><%= e_bill.genre_name %></td>
					<% if e_bill.display_status == true %>
						<td><p>有効</p></td>
					<% else %>
						<td><p>無効</p></td>
					<% end %>
					<td><%= link_to '編集する', edit_users_e_bill_path(e_bill) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
