
<div class="box1">
	<h1>クーポン一覧</h1>
</div>

<div class="box">


	 <div class="botton">
	 	<%= link_to "クーポン新規登録", new_users_store_coupon_path(@store_id), class: "button_field btn btn-primary " %>
	 </div>
	<table class="table table-hover table-responsive">
		<caption>クーポン一覧画面</caption>
		<thead>
			<tr>
				<th></th>
				<th>対象</th>
				<th>表示</th>
			</tr>
		</thead>
		<tbody>
			<% @coupons.each do |coupon| %>
				<tr>
					<td><%= link_to coupon.id, users_store_coupon_path(@store_id, coupon.id), class: "link_content" %></td>
					<td><%= coupon.target %></td>
					<% if coupon.enabled_status == true %>
						<td><p>有効</p></td>
					<% else %>
						<td><p>無効</p></td>
					<% end %>
					<td><%= link_to "編集画面へ", edit_users_store_coupon_path(coupon.store_id, coupon.id), class: "link_content" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
<% content_for :css do %>
  <%= stylesheet_link_tag 'user_cupon_index' %>
<% end %>


