


<div class="box3">
	<h1>クーポン一覧</h1>
</div>

<div class="box">

	<div class="store_index_botton">
		<%= link_to "クーポン新規登録", new_users_store_coupon_path(@store_id), class: "button_field btn btn-primary " %>
	</div>


	<table class="cp_table">
		<thead>
			<tr>
				<div class="icon_tr">
					<th colspan="5", class="caption">クーポン</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<% @coupons.each do |coupon| %>
				<tr>
					<th><%= link_to coupon.id, users_store_coupon_path(@store_id, coupon.id), class: "link_content" %></th>
					<td>対象: <%= coupon.target %></td>
					<% if coupon.enabled_status == true %>
						<td>有効: サイト表示</td>
					<% else %>
						<td >無効: サイト非表示</td>
					<% end %>
					<td><%= link_to "編集画面へ", edit_users_store_coupon_path(coupon.store_id, coupon.id), class: "link_content" %></td>
				</tr>
			<% end %>
			<%= paginate @coupons %>
		</tbody>
	</table>

</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'user_cupon_index' %>
<% end %>


