
<div class="box1">
	<h1>クーポン詳細</h1>
</div>
<div class="box">
	<table class="table table-hover table-responsive">
		<caption>クーポン詳細</caption>
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>割引理由</td>
				<td><%= @coupon.reason %></td>
			</tr>
			<tr>
				<td>割引理由説明</td>
				<td><%= @coupon.detail %></td>
			</tr>
			<tr>
				<td>イメージ画像</td>
				<td><%= attachment_image_tag @coupon, :image, size: '100x100', fallback: "/assets/no_image.id" %></td>
			</tr>
			<tr>
				<td>対象</td>
				<td><%= @coupon.target %></td>
			</tr>
			<tr>
				<td>但書</td>
				<td><%= @coupon.writing %></td>
			</tr>
			<tr>
				<td>有効期限</td>
				<td><%= (@coupon.created_at + @coupon.expiration_date.minutes).strftime("%Y年%-m年%-d日 %H:%M:%S") %></td>
			</tr>
			<tr>
				<td>発行日</td>
				<td><%= @coupon.created_at.strftime("%Y年%-m年%-d日 %H:%M:%S") %></td>
			</tr>
			<tr>
				<td>有効ステータス</td>
				<% if @coupon.enabled_status == true %>
					<td>有効</td>
				<% else %>
					<td>無効</td>
				<% end %>
			</tr>
		</tbody>
	</table>

	<div class="botton">
		<%= link_to "一覧に戻る", users_store_coupons_path(@coupon.store_id), class: "button_field btn btn-info botton_content" %>
		<%= link_to "編集する", edit_users_store_coupon_path(@coupon),class: "button_field btn btn-primary botton_content" %>
	</div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'user_coupon_show' %>
<% end %>