


<div class="box3">
	<h1>店舗申請詳細</h1>
</div>

<div class="box">

	<table class="cp_table">
		<caption></caption>
		<thead>
				<tr>
					<div class="icon_tr">
						<th colspan="2", class="caption">登録店舗基本情報</th>
					</div>
				</tr>
			</thead>
		<tbody>
			<tr>
				<th>店舗_住所</th>
				<td><%= @store_admin_application.address %></td>
			</tr>
			<tr>
				<th>店舗_郵便番号</th>
				<td><%= @store_admin_application.postal_code %></td>
			</tr>
			<tr>
				<th>店舗名</th>
				<td><%= @store_admin_application.store_name %></td>
			</tr>
			<tr>
				<th>店舗名(全角カタカナ)</th>
				<td><%= @store_admin_application.kana_store_name %></td>
			</tr>
			<tr>
				<th>店舗＿電話番号</th>
				<td><%= @store_admin_application.phone_number %></td>
			</tr>
			<tr>
				<th>支店名(支店名)</th>
				<td><%= @store_admin_application.branch_name %></td>
			</tr>
			<tr>
				<th>支店名(全角カタカナ)</th>
				<td><%= @store_admin_application.kana_branch_name %></td>
			</tr>
		</tbody>
	</table>



	<%= form_with(model: @store_admin_application, url:users_store_admin_application_path(@store_admin_application), method: :patch, local: true) do |f| %>
		<table class="table table-hover table-responsive">

		<table class="cp_table">
			<thead>
				<tr>
					<div class="icon_tr">
						<th colspan="4", class="caption">新規店舗管理者 詳細</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>メールアドレス</th>
					<td colspan="4" ><%= @store_admin_application.email %></td>
				</tr>

				<tr>
					<th>氏名(性)</th>
					<td colspan="4" ><%= @store_admin_application.family_name %></td>
				</tr>
				<tr>
					<th>氏名(名)</th>
					<td colspan="4"><%= @store_admin_application.first_name %></td>
				</tr>
				<tr>
					<th>カナ氏名(性)</th>
					<td  colspan="4"><%= @store_admin_application.kana_family_name  %></td>
				</tr>
				<tr>
					<th>カナ氏名(名)</th>
					<td  colspan="4"><%= @store_admin_application.kana_first_name  %></td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td colspan="4"><%= @store_admin_application.birthday %></td>
				</tr>
				<tr>
					<th>店舗役職</th>
					<td colspan="4"><%= @store_admin_application.job_title %></td>
				</tr>
				<tr>
					<th>店舗管理者に許可をとりましたか？</th>
					<% if @store_admin_application.permit_to_store_manager == true %>
						<td  colspan="4">はい</td>
					<% else %>
						<td colspan="4">いいえ</td>
					<% end %>
				</tr>
				<tr>
					<th>飲食店営業許可書を取得していますか？</th>
					<% if @store_admin_application.get_restaurant_sales_permit_form == true %>
						<td  colspan="4">はい</td>
					<% else %>
						<td  colspan="4">いいえ</td>
					<% end %>
				</tr>
				<tr>
					<th>反社会的勢力との関係は一切ありませんか？</th>
					<% if @store_admin_application.related_with_antisocial_force == true %>
						<td colspan="4">はい</td>
					<% else %>
						<td colspan="4">いいえ</td>
					<% end %>
				</tr>
				<tr>
					<th>風俗法の業態に当てはまりませんか？</th>
					<% if @store_admin_application.mannaers_industry == true %>
						<td colspan="4">はい</td>
					<% else %>
						<td colspan="4">いいえ</td>
					<% end %>
				</tr>

				<% if @store_admin_application.process_status == true %>
					<tr>
						<th>処理ステータス？</th>
						<td>申請中</td>
					</tr>
					<tr>
						<th>
							<%= f.label :process_status, "処理済みにする" %>
							<%= f.radio_button :process_status, :false, required: "true" %>
						</th>
						<td><%= f.submit "更新を保存する", class: "button_field btn btn-primary" %></td>
					</tr>
				<% else %>
						<th>
							<%= f.label :process_status, "申請中にする" %>
							<%= f.radio_button :process_status, :true, required: "true" %>
						</th>
						<td><%= f.submit "更新する", class: "button_field btn btn-primary application" %></td>
					</tr>
				<% end %>

			</tbody>
		</table>
	<% end %>

</div>


<% content_for :css do %>
  <%= stylesheet_link_tag 'user_store_admin_application_show' %>
<% end %>
