<div class="box3">
	<h1>このサイトについて</h1>
</div>


<div class="about_box">
	<div>
		<div class="about_title">
		<h2>浜松駅周辺に出張などでいらっしゃった方に美味しいお寿司屋さんを知って欲しい！<br>このサイトは浜松市中区周辺にスポットを当てた寿司専門飲食店検索サイトです</h2>
		</div>
		<h3>仕事帰りに美味しいせっかくだからお寿司をつまみたいな</h3>
		<h3>同僚達と飲みたいけど近場で値段も値段の検討が付きそうなお店がないかな</h3>
		<h3>クーポンが使える飲食店がないかな</h3>
		<h3>きっとあなたを満足させてくれるお店をご紹介いたします</h3>
	</div>


	<div class="text_area">

		<div class="text_area_field">
			<h4>利用者画面</h4>
			<p>ログインなしで登録店舗情報を閲覧できます。またサイトへの店舗登録申請を行うことができます。</p>
			<p>ログインすることで店舗のお気に入り登録やクーポンの利用、口コミの閲覧を行うことができます。(ゲストログインの場合は閲覧のみです)</p>
		</div>

		<div class="text_area_field">
			<h4>サイトへの店舗申請について</h4>
			<p>サイトに掲載している店舗への申請を行うことができます。</p>
			<p>1:	利用者画面のフッターから申請をしていただきます</p>
			<p>2:	１週間以内に申請の審査を行い、結果のご連絡を登録して頂いたメールアドレスにメールでご連絡いたします。</p>
			<p>3:	申請が通った形には、メールに管理者サイトのURLを送付いたします。そこで正式な会員登録と掲載する店舗の登録やメニューの登録をしていただきます。</p>
		</div>

		<div class="text_area_field">
			<h4>店舗管理者</h4>
			<p>会員登録していただき、サイトに表示する店舗やメニューを登録することがきます。</p>
			<p>また店舗管理者一人につき複数の店舗をご登録することが可能です。</p>
		</div>

	</div>

</div>

<div class="image_box">
	<div class="bxslider">
		<div><%= image_tag "image01.jpg", class: "img" %></div>
		<div><%= image_tag "image02.jpg", class: "img" %></div>
		<div><%= image_tag "image08.jpg", class: "img" %></div>
		<div><%= image_tag "image04.jpg", class: "img" %></div>
	</div>
</div>


<script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer></script>

<% content_for :css do %>
  <%= stylesheet_link_tag 'user_user_new' %>
<% end %>