

<div class="box3">
	<h1>店舗一覧</h1>
</div>

<div class="box">

	<div class="store_index_botton_out">
		<%= link_to "店舗新規登録", new_users_store_path, class: "button_field btn btn-primary " %>
	</div>

	<%= form_with(model: @stores, url: users_store_genres_path, local: true) do |f| %>

		<table class="cp_table">
			<thead>
				<tr>
					<div class="icon_tr">
						<th colspan="5", class="caption">店舗</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<% @stores.each do |store| %>
					<tr>
						<th><%= link_to store.store_name, users_store_path(store), class: "link_content" %></th>
						<% if store.display_status == true %>
							<td class="store_index_td">サイト表示</td>
						<% else %>
							<td class="store_index_td">サイト非表示</td>
						<% end %>
						<td class="store_index_td"><%= link_to "編集画面へ", edit_users_store_path(store)%></td>
						<td class="store_index_td"><%= link_to "メニュー", users_store_menus_path(store) %></td>
						<td class="store_index_td"><%= link_to "クーポン", users_store_coupons_path(store) %></td>
					</tr>
				<% end %>
				<%= paginate @stores %>
			</tbody>
		</table>
	<% end %>

</div>



<% content_for :css do %>
  <%= stylesheet_link_tag 'user_store_index' %>
<% end %>

