
<div class="box1">
	<h1>店舗詳細</h1>
</div>

<div class="box">

	<table class="cp_table">
		<thead>
			<tr>
				<div class="icon_tr">
					<th colspan="2", class="caption">店舗基本情報</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>店名</th>
				<td><%= @store.store_name %></td>
			</tr>
			<tr>
				<th>店名(全角カタカナ)</th>
				<td><%= @store.kana_store_name %></td>
			</tr>
			<tr>
				<th>店舗＿郵便番号</th>
				<td><%= @store.postal_code %></td>
			</tr>
			<tr>
				<th>店舗＿住所</th>
				<td><%= @store.address %></td>
			</tr>
			<tr>
				<th>店舗＿電話番号</th>
				<td><%= @store.phone_number %></td>
			</tr>
			<tr>
				<th>支店名</th>
				<td><%= @store.branch_name %></td>
			</tr>
			<tr>
				<th>支店名</th>
				<td><%= @store.kana_branch_name %></td>
			</tr>
		</tbody>
	</table>


	<table class="cp_table">

		<thead>
			<tr>
				<div class="icon_tr">
					<th colspan="2", class="caption">店舗詳細情報</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>店舗＿ジャンル</th>
				<% if @store.store_genre_id == 1 %>
					<td>寿司</td>
				<% elsif @store.store_genre_id == 2 %>
					<td>回転寿司</td>
				<% else %>
					<td>立ち食い寿司</td>
				<% end %>
			</tr>
			<tr>
				<th>予約</hd>
				<td><%= @store.reservation %></td>
			</tr>
			<tr>
				<th>予約時の注意事項</th>
				<td><%= @store.reservation_of_considerations %></td>
			</tr>
			<tr>
				<th>交通手段</th>
				<td><%= @store.traffic_method %></td>
			</tr>
			<tr>
				<th>営業日</th>
				<td><%= @store.business_day %></td>
			</tr>
			<tr>
				<th>定休日</th>
				<td><%= @store.regular_holiday %></td>
			</tr>
		</tbody>
	</table>


	<table class="cp_table">

		<thead>
			<tr>
				<div class="icon_tr">
					<th colspan="2", class="caption">支払い情報</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>予算</th>
				<td><%= @store.consumption_budget %></td>
			</tr>
			<tr>
				<th>支払い可能カード</th>
				<td><%= @store.credit_card %></td>
			</tr>
			<tr>
				<th>予約時の注意事項</th>
				<td><%= @store.reservation_of_considerations %></td>
			</tr>
			<tr>
				<th>支払い可能電子マネー</th>
				<td><%= @store.e_money %></td>
			</tr>
		</tbody>
	</table>

	<table class="cp_table">

		<thead>
			<tr>
				<div class="icon_tr">
					<th colspan="2", class="caption">空間・設備</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>座敷数</th>
				<td><%= @store.equipment %></td>
			</tr>
			<tr>
				<th>個室</th>
				<% if @store.private_room == true %>
					<td>あり</td>
				<% else %>
					<td>なし</td>
				<% end %>
			</tr>
			<tr>
				<th>駐車場</th>
				<td><%= @store.parking %></td>
			</tr>
			<tr>
				<th>禁煙・喫煙</th>
				<td><%= @store.no_smoking %>
			</tr>
			<tr>
				<th>空間・設備</th>
				<td><%= @store.equipment %></td>
			</tr>
		</tbody>
	</table>

	<table class="cp_table">
		<caption>その他</caption>
		<thead>
			<tr>
				<div class="icon_tr">
					<th colspan="2", class="caption">その他</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>店舗紹介</th>
				<td><%= @store.comment %></td>
			</tr>
			<tr>
				<th>ホームページURL</th>
				<td><%= @store.home_page %></td>
			</tr>
			<tr>
				<th>お知らせしたいこと</th>
				<td><%= @store.news %></td>
			</tr>
			<tr>
				<th>店舗画像</th>
				<td><%= attachment_image_tag @store, :image, size: '100x100', fallback: 'no_image.jpg'  %></td>
			</tr>
			<tr>
				<th>お知らせしたいこと</th>
				<td><%= @store.news %></td>
			</tr>
			<tr>
				<th>サイト表示ステータス</th>
				<% if @store.display_status == true %>
					<td>サイト表示</td>
				<% else %>
					<td>サイト非表示</td>
				<% end %>
			</tr>
		</tbody>
	</table>

	<div class="botton">
		<%= link_to "一覧に戻る", users_stores_path, class: "button_field btn btn-default botton_content" %>
		<%= link_to "編集する", edit_users_store_path(@store),class: "button_field btn btn-primary botton_content" %>
	</div>

</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'user_stote_show' %>
<% end %>