<%= render 'layouts/error_messages', model: @store_menu %>

<div class="box1">
	<h1>メニュー編集</h1>
</div>
<div class="box">
	<%= form_with(model: @store_menu, url:users_store_menu_path(@store_menu.store_id, @store_menu.id), local: true, method: :patch) do |f| %>

		<table class="table table-hover table-responsive">
			<caption>メニュー編集</caption>
			<thead>
				<tr>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>メニュー名</td>
					<td><%= f.text_field :name, required: "true", class: "text_field", placeholder: "例)　鉄火巻き" %></td>
				</tr>
				<tr>
					<td>メニュー説明</td>
					<td><%= f.text_area :comment, required: "true", class: "text_field", placeholder: "例)　ピリッと聞いたワサビがマグロを引き立てるおすすめの一品です"  %></td>
				</tr>
				<tr>
					<td>値段(税抜き)</td>
					<td><%= f.text_field :tax_excluded_price, required: "true", class: "text_field" %> 円</td>
				</tr>
				<tr>
					<td>メニュー画像</td>
					<td><%= f.attachment_field :image %></td>
				</tr>
				<tr>
					<td>メニュージャンル</td>
					<% @menu_genres.each do |menu_genre| %>
							<td><%= menu_genre.genre_name %>
								<%= f.radio_button :menu_genre_id, menu_genre[:id] %>
							</td>
					<% end %>
				</tr>
			</tbody>
		</table>
		<div class="botton">
			<%= f.submit "変更を保存する", class: "button_field btn btn-primary botton_content" %>
		</div>
	<% end %>
</div>


<% content_for :css do %>
  <%= stylesheet_link_tag 'user_menu_edit' %>
<% end %>