<h1>Users::Menus#edit</h1>
<p>Find me in app/views/users/menus/edit.html.erb</p>

<%= form_with(model: @store_menu, url:users_store_menu_path(@store_menu.store_id, @store_menu.id), local: true, method: :patch) do |f| %>

	<table>
		<caption>メニュー編集</caption>
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>メニュー名</td>
				<td><%= f.text_field :name %></td>
			</tr>
			<tr>
				<td>メニュー説明</td>
				<td><%= f.text_field :comment %></td>
			</tr>
			<tr>
				<td>値段(税抜き)</td>
				<td>¥ <%= f.text_field :tax_excluded_price %></td>
			</tr>
			<tr>
				<td>メニュージャンル</td>
				<% @menu_genres.each do |menu_genre| %>
						<td><%= menu_genre.genre_name %>
							<%= f.radio_button :menu_genre_id, menu_genre[:id] %>
						</td>
				<% end %>
			</tr>
		</tbody>
	</table>
	<%= f.submit "登録する" %>

<% end %>