

<div class="box3">
	<h1>メニュー一覧</h1>
</div>

<div class="box">

	<div class="store_index_botton">
		<%= link_to "メニュー登録", new_users_store_menu_path(@store_id), class: "button_field btn btn-primary " %>
	</div>


	<table class="cp_table">
		<thead>
			<tr>
				<div class="icon_tr">
					<th colspan="5", class="caption">店舗</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<% @store_menus.each do |store_menu| %>
				<tr>
					<th><%= link_to store_menu.name, users_store_menu_path(store_menu.store_id, store_menu.id), class: "link_content" %></th>
					<% if store_menu.display_status == true %>
						<td>サイト表示</td>
					<% else %>
						<td >サイト非表示</td>
					<% end %>
					<td><%= link_to "編集画面へ", edit_users_store_menu_path(store_menu.store_id, store_menu.id) %></td>
				</tr>
			<% end %>
			<%= paginate @store_menus %>
		</tbody>
	</table>

</div>


<% content_for :css do %>
  <%= stylesheet_link_tag 'user_menu_index' %>
<% end %>
