
<div class="box1">
	<h1>メニュー一覧</h1>
</div>
<div class="box">
	<div class="botton">
		<%= link_to "メニュー登録", new_users_store_menu_path(@store_id), class: "button_field btn btn-primary " %>
	</div>
	<table class="table table-hover table-responsive">
		<caption>メニュー覧画面</caption>
		<thead>
			<tr>
				<th>メニュー名</th>
				<th>値段</th>
				<th>表示</th>
			</tr>
		</thead>
		<% @store_menus.each do |store_menu| %>
			<tbody>
				<tr>
					<td><%= attachment_image_tag store_menu, :image, size: '50x50', fallback: 'no_image.jpg' %></td>
					<td><%= link_to store_menu.name, users_store_menu_path(store_menu.store_id, store_menu.id), class: "link_content" %></td>
					<td><%= store_menu.tax_excluded_price %></td>
					<% if store_menu.display_status == true %>
						<td><p>表示</p></td>
					<% else %>
						<td><p>非表示</p></td>
					<% end %>
					<td><%= link_to "編集画面へ", edit_users_store_menu_path(store_menu.store_id, store_menu.id), class: "link_content" %></td>
				</tr>
			</tbody>
		<% end %>
	</table>

</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'user_menu_index' %>
<% end %>
