<%= render 'layouts/error_messages', model: @store_menu %>
<h1>Users::Menus#new</h1>
<p>aaa</p>
<p>Find me in app/views/users/menus/new.html.erb</p>

<%= form_with(model: @store_menu, url: users_store_menus_path, mthod: :post, local: true) do |f| %>

	<table>
		<caption>メニュー登録</caption>
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>メニュー名</td>
				<td><%= f.text_field :name, required: "true", class: "text_field", placeholder: "例) " %></td>
			</tr>
			<tr>
				<td>メニュー説明</td>
				<td><%= f.text_field :comment, required: "true", class: "text_field", placeholder: "例) " %></td>
			</tr>
			<tr>
				<td>値段(税抜き)</td>
				<td><%= f.text_field :tax_excluded_price, required: "true", class: "text_field", placeholder: "例) 1000" %> 円</td>
			</tr>
			<tr>
				<td>メニュージャンル</td>
				<% @menu_genres.each do |menu_genre| %>
						<td><%= menu_genre.genre_name %>
							<%= f.radio_button :menu_genre_id, menu_genre[:id] %>
						</td>
				<% end %>
			</tr>
		</tbody>
	</table>
	<%= f.submit "登録する" %>

<% end %>