<%= render 'layouts/error_messages', model: @store_menu %>



<div class="box1">
	<h1>メニュー情報入力(メニュー情報入力)</h1>
	<p>当サイトの趣旨にあわないお店は管理側で判断し、削除する場合がございます。</p>
</div>

<div class="box">

    <%= form_with(model: @store_menu, url: users_store_menus_path, mthod: :post, local: true) do |f| %>

		<table class="cp_table">
			<thead>
				<tr>
					<div class="icon_tr">
						<th colspan="2", class="caption">メニュー情報入力</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>メニュー名<i class="fa fa-check-square"></i></th>
					<td>
						<%= f.text_field :name, required: "true", class: "text_field", placeholder: "例)　鉄火巻き", autofocus: "true"  %>
					</td>
				</tr>
				<tr>
					<th>メニュー説明<i class="fa fa-check-square"></i></th>
					<td>
						<%= f.text_area :comment, required: "true", class: "text_field", placeholder: "例)　ピリッと聞いたワサビがマグロを引き立てるおすすめの一品です"  %></td>
					</td>
				</tr>
				<tr>
					<th>値段(税抜き)<i class="fa fa-check-square"></i></th>
					<td>
						<%= f.text_field :tax_excluded_price, required: "true", class: "text_field", placeholder: "例)  450"  %> 円
					</td>
				</tr>
				<tr>
					<th>メニュー画像<i class="fa fa-check-square"></i></th>
					<td><%= f.attachment_field :image %></td>
				</tr>
				<tr>
					<th>メニュージャンル<i class="fa fa-check-square"></i></th>
					<td><% @menu_genres.each do |menu_genre| %>
							<%= menu_genre.genre_name %>
								<%= f.radio_button :menu_genre_id, menu_genre[:id] %>
						<% end %>
					</td>
				</tr>

			</tbody>
		</table>


			</tbody>
		</table>


		<div class="botton">
			<%= link_to "戻る", users_store_menus_path(@store), class: "button_field btn btn-default botton_content" %>
			<%= f.submit "登録する",class: "button_field btn btn-primary botton_content" %>
		</div>

	<% end %>
</div


<% content_for :css do %>
  <%= stylesheet_link_tag 'user_menu_new' %>
<% end %>