
<div class="box1">
	<h1>メニュー詳細</h1>
</div>
<div class="box">
	<table class="cp_table">
		<thead>
			<div class="icon_tr">
					<th colspan="2", class="caption">メニュー情報</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>メニュー名</th>
				<td><%= @store_menu.name %></td>
			</tr>
			<tr>
				<th>メニュー説明</th>
				<td><%= @store_menu.comment %></td>
			</tr>
			<tr>
				<th>値段(税抜き)</th>
				<td>¥ <%= @store_menu.tax_excluded_price %></td>
			</tr>
			<tr>
				<th>メニュージャンル</th>
				<td><%= @store_menu.menu_genre.genre_name %></td>
			</tr>
			<tr>
				<th>店舗画像</th>
				<td><%= attachment_image_tag @store_menu, :image, size: '100x100', fallback: 'no_image.jpg'  %></td>
			</tr>
			<tr>
				<th>サイト表示ステータス</th>
				<% if @store_menu.display_status == true %>
					<td>サイト表示</td>
				<% else %>
					<td>サイト非表示</td>
				<% end %>
			</tr>
		</tbody>
	</table>
	<div class="botton">
		<%= link_to "一覧に戻る", users_store_menus_path(@store_menu.store_id), class: "button_field btn btn-default botton_content" %>
		<%= link_to "編集する", edit_users_store_menu_path(@store_menu.store_id, @store_menu.id),class: "button_field btn btn-primary botton_content" %>
	</div>

</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'user_menu_show' %>
<% end %>
