
<div class="field">
	<div class="show_coupon_content">
		<div class="image">
			<%= attachment_image_tag @coupon, :image, size: '100x100', fallback: "no_image.jpg", class: "coupon_image" %>
		</div>
		<div class="coupon_body">
			<div class="coupon_titile">
				<p>店舗: <%= @coupon.store.store_name %></p>
				<p>対象:  <%= @coupon.target %></p>
				<%= @coupon.reason %>
			</div>
			<div class="coupon_text">
				<p>詳細:  <%= @coupon.detail %></p>
				<p>但書:  <%= @coupon.writing %></p>
				<p>有効期限:  <%= (@coupon.created_at + @coupon.expiration_date.minutes).strftime("%Y年%-m年%-d日 %H:%M:%S") %></p>
				<p>発行日:  <%= @coupon.created_at.strftime("%Y年%-m年%-d日 %H:%M:%S") %></p>
			</div>
		</div>
	</div>
</div>
<% content_for :css do %>
  <%= stylesheet_link_tag 'tidori_sushi_coupon_show' %>
<% end %>
