<h1>Users::StoreEquipments#edit</h1>
<p>Find me in app/views/users/store_equipments/edit.html.erb</p>

<div>
	<%= form_with(model: @equipment, url: users_store_equipment_path(@equipment), local: true, method: :patch) do |f| %>
		<%= f.label :genre_name, '設備ジャンル' %>
		<%= f.text_field :genre_name %>
		<%= f.label :display_status, '有効' %>
		<%= f.radio_button :display_status, :true, checked: true %>

		<%= f.label :display_status, '無効' %>
		<%= f.radio_button :display_status, :false %>
		<%= f.submit "変更を保存する" %>
	<% end %>
</div>
