<%= render 'layouts/error_messages', model: @store_genre %>
<h1>Users::StoreGenres#index</h1>
<p>Find me in app/views/users/store_genres/index.html.erb</p>


<div>
	<%= form_with(model: @store_genre, url: users_store_genres_path, local: true) do |f| %>
		<%= f.label :genre_name, '店舗ジャンル' %>
		<%= f.text_field :genre_name, required: "true", class: "text_field" %>
		<%= f.label :display_status, '有効' %>
		<%= f.radio_button :display_status, :true, checked: true %>

		<%= f.label :display_status, '無効' %>
		<%= f.radio_button :display_status, :false %>
		<%= f.submit "登録" %>
	<% end %>
</div>

<div>
	<table>
		<thead>
			<tr>
				<th>ジャンル</th>
				<th>状態</th>
			</tr>
		</thead>
		<tbody>
			<% @store_genres.each do |store_genre| %>
				<tr>
					<td><%= store_genre.genre_name %></td>
					<% if store_genre.display_status == true %>
						<td><p>有効</p></td>
					<% else %>
						<td><p>無効</p></td>
					<% end %>
					<td><%= link_to '編集する', edit_users_store_genre_path(store_genre) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>