<%= render 'layouts/error_messages', model: @store_buzz %>

<h1>TidoriSushi::StoreBuzzs#new</h1>
<p>Find me in app/views/tidori_sushi/store_buzzs/new.html.erb</p>

<%= form_with(model: @store_buzz , url: tidori_sushi_store_store_buzzs_path, local: true) do |f| %>

	<table>
		<caption>口コミ投稿</caption>
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>タイトル</td>
				<td><%= f.text_field :title, required: "true" %></td>
			</tr>
			<tr>
				<td>口コミ本文</td>
				<td><%= f.text_area :detail, required: "true"  %></td>
			</tr>
			<tr>
				<td>画像投稿</td>
				<td><%= f.attachment_field :image %></td>
			</tr>
			<tr>
				<td>visit_date</td>
				<p>カレンダー形式</p>
				<td><%= f.date_field :visit_date %></td>
			</tr>
			<tr>
				<td>滞在時間</td>
				<td><%= f.text_field :use_time, required: "true"  %></td>
			</tr>
			<tr>
				<td>支払い金額</td>
				<td><%= f.text_field :pay_price, required: "true"  %></td>
			</tr>
		</tbody>
	</table>
	<%= f.submit "投稿する" %>

<% end %>