
<% content_for :css do %>
  <%= stylesheet_link_tag 'tidori_sushi_store_search' %>
<% end %>


<div class="content_cover">
	<div class="search_left">
		<div class="search_field_left">
			<p>検索フォーム</p>
			<div class="search_field_left_in">
				<%= search_form_for(@q, url: tidori_sushi_search_path, method: :post) do |f| %>
					<%= f.search_field :address_or_store_name_or_branch_name_cont, placeholder: "店名や住所を入力してください" %><%= f.submit "検索する" %>
				<% end %>
			</div>
		</div>

		<div class="search_field_form">
			<h2>新着店舗</h2>
			<div class="search_field_form_in">
				<% @index_stores.each do |store| %>
					<%= link_to tidori_sushi_store_path(store) do %>
						<div class="search_field_form_content">
							<div class="search_field_form_content_image">
								<%= attachment_image_tag store, :image, fallback: 'no_image.jpg', class: "search_field_form_content_image_content" %>
							</div>
							<div class="search_field_form_content_body">
								<h4><%= store.store_name %></h4>
								<h4><%= store.store_genre.genre_name %></h4>
							</div>
						</div>
					<% end %>
				<% end %>
				<%= paginate @stores %>
			</div>

		</div>
	</div>

	<div class="search_right">
		<div class="google_map">
			<div>
				<!-- 外部のjavafileに移動 -->

					<div id="map" class="google_map"></div>

					<script type="text/javascript">
					function initMap() {
						var map = new google.maps.Map(document.getElementById('map'), {
					    	center: new google.maps.LatLng(34.705422, 137.738342),
					        zoom: 14
				    	});
				    	<% @stores.each do |store| %>
					        (function(){

					          var latlng = new google.maps.LatLng(<%= store.latitude %>, <%= store.longitude %>);
					          var marker = new google.maps.Marker({
					              position: latlng,
					              map: map,
					          });
					          var infowindow = new google.maps.InfoWindow({
					          		content: "<%= store.store_name %>",
					          		maxWidth: 300,
					          		positon: latlng,
							  });
							  infowindow.open(map, marker);
					        })();
				      	<% end %>

					}
					</script>

					<script async defer
				      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap">
				    </script>
				</div>
			</div>
		<div class="search_content">
			<h1>検索結果</>
		</div>
		<div class="search_body">
			<% @stores.each do |store| %>
				<%= link_to tidori_sushi_store_path(store) do %>
					<div class="store_field">
						<div class="store_field_image">
							<%= attachment_image_tag store, :image, fallback: 'no_image.jpg', class: "store_field_image_content" %>
						</div>
						<div class="store_field_body">
							<h3><%= store.store_name %></h3>
							<h3><%= store.store_genre.genre_name %></h3>
							<p>住所: <%= store.address %></p>
							<p>定休日: <%= store.regular_holiday %></p>
							<p><%= store.comment %></p>
						</div>
					</div>
				<% end %>
			<% end %>
			<%= paginate @stores %>
		</div>
	</div>
</div>



