<p> TidoriSushi::StoresController#search</p>


<div>
	<p>店舗一覧</p>
	<% @stores.each do |store| %>
		<div>
			<%= attachment_image_tag store, :image, size: '100x100', fallback: 'no_image.jpg' %>
			<p><%= store.id %></p>
			<h1><%= store.store_name %></h1>
			<p><%= store.store_genre %></p>
			<p>住所: <%= store.address %></p>
			<p>定休日: <%= store.regular_holiday %></p>
		</div>
	<% end %>
</div>

