<p> TidoriSushi::StoresController#search</p>

<div>
	<p>店舗一覧</p>
	<% @stores.each do |store| %>
		<div>
			<%= store.id %>
			<%= attachment_image_tag store, :image, size: '100x100', fallback: 'no_image.jpg' %>
			<%= store.store_name %>
			<%= store.store_genre %>
			<%= store.address %>
			<%= store.regular_holiday %>
		</div>
	<% end %>
</div>