<p> TidoriSushi::StoresController#search</p>

<div>

	<div id="map" style="width:50%; height:400px"></div>

	<script type="text/javascript">
	function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
	    	center: new google.maps.LatLng(34.705422, 137.738342),
	        zoom: 14
    	});
    	<% @stores.each do |store| %>
	        (function(){

	          var latlng = new google.maps.LatLng(<%= store.latitude %>, <%= store.longitude %>);
	          var marker = new google.maps.Marker({
	              position: latlng,
	              map: map,
	          });
	          var infowindow = new google.maps.InfoWindow({
	          		position: latlng,
	          		content: 'text',
			  });
			  infowindow.open(map);
			  infowindow.close();
	        })();
      	<% end %>
	}
	</script>

	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap">
    </script>
</div>

<div>
	<p>右カラム　検索フォーム</p>
	<%= search_form_for(@q, url: tidori_sushi_search_path, method: :post) do |f| %>
		<%= f.search_field :address_or_store_name_or_branch_name_cont, placeholder: "店名や住所を入力してください" %>
		<%= f.submit "検索する" %>
	<% end %>
</div>

<div>
	<p>右カラム　検索フォーム</p>
	<p>新着店舗一覧</p>
	<% @stores.each do |store| %>
		<%= link_to tidori_sushi_store_path(store) do %>
			<div>
				<%= store.id %>
				<%= attachment_image_tag store, :image, size: '100x100', fallback: 'no_image.jpg' %>
				<%= store.store_genre.genre_name %>
				<%= store.address %>
				<%= store.regular_holiday %>
				<% if user_signed_in? %>
					<% if store.favorited_by?(current_user) %>
						<%=  link_to "お気に入りを外す", tidori_sushi_store_favorites_path(store), method: :delete, local: true %>
					<% else %>
						<%=  link_to "お気に入りにする", tidori_sushi_store_favorites_path(store), method: :post, local: true %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>


<div>
	<p>検索結果＿店舗一覧</p>
	<% @stores.each do |store| %>
		<%= link_to tidori_sushi_store_path(store) do %>
			<div>
				<%= attachment_image_tag store, :image, size: '100x100', fallback: 'no_image.jpg' %>
				<p><%= store.id %></p>
				<h2><%= store.store_name %></h2>
				<h3><%= store.store_genre.genre_name %></h3>
				<p>住所: <%= store.address %></p>
				<p>定休日: <%= store.regular_holiday %></p>
				<p><%= store.comment %></p>
			</div>
		<% end %>
	<% end %>
</div>

