
<div class="show_content_cover">
	<div class="main_visual">
		<div class="store_tag_box">
			<div class="store_tag">
				<p><%= link_to "メニュー", tidori_sushi_store_menus_path(@store) %></p>
			</div>
			<div class="store_tag">
				<p><%= link_to "口コミ", tidori_sushi_store_store_buzzs_path(@store) %></p>
			</div>
			<div class="store_tag">
				<p><%= link_to "クーポン", tidori_sushi_coupons_path %></p>
			</div>
			<% if user_signed_in?  %>
				<% if @store.favorited_by?(current_user) %>
					<div class="store_tag">
						<%=  link_to tidori_sushi_store_favorites_path(@store), method: :delete, local: true do %>
							<i class="fa fa-heart"></i>
						<% end %>
					</div>
				<% else %>
					<div  class="store_tag">
						<%=  link_to  tidori_sushi_store_favorites_path(@store), method: :post, local: true do  %>
								<i class="fa fa-heart-o"></i>
						<% end %>
					</div>
				<% end %>
				<% if current_user.role == "customer" %>
					<div class="store_tag">
						<p><%= link_to "口コミ投稿", new_tidori_sushi_store_store_buzz_path(@store) %></p>
					</div>
				<% end %>
			<% end %>

		</div>
	</div>
	<div class='main_box'>
		<div class="show_left">
			<div class="title">
				<h1><%= @store.store_name %></h1>
				<p>ジャンル: <%= @store.store_genre.genre_name%></p>
				<p>予算: <%= @store.consumption_budget %> 定休日: <%= @store.regular_holiday %></p>
				<% if @store.news %>
					<div class="store_news">
						<p class="store_news_text">お店からの大切なお知らせ</p>
					</div>
					<p><strong><%= @store.news %></strong></p>
				<% end %>
			</div>
			<div class="comment">
				<div class="comment_visual_box">
					<%= attachment_image_tag @store, :image, fallback: 'no_image.jpg', class: "comment_visual" %>
				</div>
				<div class="comment_body">
					<p><%=  @store.comment %></p>
				</div>
			</div>
			<div class="menu">
				<div class="menu_title">
					<h2>メニュー</h2>
				</div>
				<% @store.store_menus.first(4).each do |menu| %>
					<div class="menu_text_body">
						<div class="menu_text">
							<h3><%= menu.name %></h3>
							<h3><%= menu.tax_excluded_price %>円</h3>
						</div>
						<p class="menu_text_body_p"><%= menu.comment %></p>
					</div>
				<% end %>
				<div class="menu_link">
					<p><%= link_to "もっとメニューを見る", tidori_sushi_store_menus_path(@store) %></p>
				</div>
			</div>
			<% if user_signed_in? %>
				
				<div class="buzz">
					<div class="menu_title">
						<h2>口コミ</h2>
					</div>
					<% @store.store_buzzs.first(4).each do |buzz| %>
						<div class="buzz_text_body_buzz">
							<div class="buzz_visual_box_buzz">
								<%= attachment_image_tag buzz, :image, fallback: 'no_image.jpg', class: "buzz_visual_buzz" %>
							</div>
							<div class="buzz_text">
								<h3><%= buzz.title %></h3>
							</div>
							<p><p><%= buzz.detail %></p></p>
							<p>登録会員様</p>
						</div>
					<% end %>
					<div class="menu_link">
						<p><%= link_to "もっと口コミを見る", tidori_sushi_store_store_buzzs_path(@store) %></p>
					</div>
				</div>

			<% end %>
		</div>
		<div class="right">

			<div class="map_field_box">
				<div id="map" class="map_field"></div>

					<script type="text/javascript">
					function initMap() {
						var map = new google.maps.Map(document.getElementById('map'), {
					    	center: new google.maps.LatLng(<%= @store.latitude %>, <%= @store.longitude %>),
					        zoom: 15
				    	});
				        (function(){

				          var latlng = new google.maps.LatLng(<%= @store.latitude %>, <%= @store.longitude %>);
				          var marker = new google.maps.Marker({
				              position: latlng,
				              map: map,
				          });
				          var infowindow = new google.maps.InfoWindow({
				          		position: latlng,
				          		content: 'text',
						  });
						  infowindow.open(map);
						  infowindow.close();
				        })();
					}
					</script>

					<script async defer
				      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap">
				    </script>
			</div>
			<div class="store_date">
				<p>電話予約: <%= @store.phone_number %></p>
				<p>予算: <%= @store.consumption_budget %></p>
				<p>営業時間: <%= @store.business_day %></p>
				<p>定休日: <%= @store.regular_holiday %></p>
				<p>ホームページ: <%= @store.home_page %></p>
			</div>

		</div>
	</div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'tidori_sushi_store_show' %>
<% end %>

