<p>tidori_sushi/stores/top</p>
<p>/  ルート</p>
<div>
	<%= search_form_for(@q, url: tidori_sushi_search_path, method: :post) do |f| %>
		<%= f.search_field :address_or_store_name_or_branch_name_cont, placeholder: "店名や住所を入力してください" %>
		<%= f.submit "検索する" %>
	<% end %>
</div>

<div>
	<%= link_to "新規登録店舗", tidori_sushi_search_path(q: {address_or_store_name_or_branch_name_cont: :""}), method: :post %>
	<%= link_to "地図検索", tidori_sushi_search_path(q: {address_or_store_name_or_branch_name_cont: :""}), method: :post %>
	<%= link_to "クーポン利用", tidori_sushi_coupons_path %>
</div>
<div>
	<%= link_to "寿司", tidori_sushi_search_path(q: {store_genre_genre_name_eq: :"寿司"}), method: :post %>
	<%= link_to "回転寿司", tidori_sushi_search_path(q: {
		store_genre_genre_name_eq: :"回転寿司"}), method: :post %>
	<%= link_to "立ち食い寿司", tidori_sushi_search_path(q: {store_genre_genre_name_eq: :"立ち食い寿司"}), method: :post %>
</div>

<div>
	<p>新着店舗一覧</p>
	<% @stores.each do |store| %>
		<div>
			<%= link_to tidori_sushi_store_path(store) do %>
				<%= store.id %>
				<%= attachment_image_tag store, :image, size: '100x100', fallback: 'no_image.jpg' %>
				<%= store.store_name %>
				<% if store.store_genre_id == 1  %>
					<p>寿司</p>
				<% elsif  store.store_genre_id == 2 %>
					<p>回転寿司</p>
				<% else %>
					<p>立ち食い寿司</p>
				<% end %>
				<%= store.address %>
				<%= store.regular_holiday %>
			<% end %>
		</div>
	<% end %>
</div>


<div>
	<p>店舗登録はお問い合わせは<%= link_to "こちらから", new_tidori_sushi_store_admin_application_path %></p>
	<table>
		<tbody>
			<tr><td>サイト管理者  夏目梨花</td></tr>
			<tr><td>管理者ページURL  tidorisushi.site</td></tr>
				<tr><td>© natsume rika 2020</td></tr>
		</tbody>
	</table>
</div>
