
<!-- <div class="bxslider">
	<div><%= image_tag "image01.jpg", class: "img" %></div>
	<div><%= image_tag "image02.jpg", class: "img" %></div>
	<div><%= image_tag "image08.jpg", class: "img" %></div>
	<div><%= image_tag "image04.jpg", class: "img" %></div>
</div> -->

<div class="content_cover">
	<div>
		<div class="main_visual">
			<div class="search_field">
				<%= search_form_for(@q, url: tidori_sushi_search_path, method: :post) do |f| %>
					<%= f.search_field :address_or_store_name_or_branch_name_or_store_genre_genre_name_cont, placeholder: " 店名や住所を入力してください", class: "search_form" %><%= f.submit "検索する", class: "search_botton" %>
				<% end %>
			</div>
		</div>
		<div class="search_content">
				<div class="black">
				</div>
			</div>
		<main>

		<div>
			<%= link_to "新規登録店舗", tidori_sushi_search_path(q: {address_or_store_name_or_branch_name_cont: :""}), method: :post %>
			<%= link_to "地図検索", tidori_sushi_search_path(q: {address_or_store_name_or_branch_name_cont: :""}), method: :post %>
			<%= link_to "クーポン利用", tidori_sushi_coupons_path %>
		</div>
		<div>
			<%= link_to "寿司", tidori_sushi_search_path(q: {store_genre_genre_name_eq: :"寿司"}), method: :post %>
			<%= link_to "回転寿司", tidori_sushi_search_path(q: {
				store_genre_genre_name_eq: :"回転寿司"}), method: :post %>
			<%= link_to "立ち食い寿司", tidori_sushi_search_path(q: {store_genre_genre_name_eq: :"立ち食い寿司"}), method: :post %>
		</div>

		<div>
			<p>新着店舗一覧</p>
			<% @stores.each do |store| %>
				<div>
					<%= link_to tidori_sushi_store_path(store) do %>
						<%= store.id %>
						<%= attachment_image_tag store, :image, size: '100x100', fallback: 'no_image.jpg' %>
						<%= store.store_name %>
						<% if store.store_genre_id == 1  %>
							<p>寿司</p>
						<% elsif  store.store_genre_id == 2 %>
							<p>回転寿司</p>
						<% else %>
							<p>立ち食い寿司</p>
						<% end %>
						<%= store.address %>
						<%= store.regular_holiday %>
					<% end %>
				</div>
			<% end %>
		</div>
	</main>

	<span id="back">
	  <a href="#">
	    <img src="assets/arrow.png" alt="">
	  </a>
	</span>


</div>


<script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer></script> -->

<% content_for :css do %>
  <%= stylesheet_link_tag 'tidori_sushi_root' %>
<% end %>