<!DOCTYPE html>
<html>
  <head>
    <title>TIdoriSushiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">タイトル</a>
          </div>
          
          <div class="collapse navbar-collapse" id="navbarEexample">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">メニューＡ</a></li>
              <li><a href="#">メニューＢ</a></li>
              <li><a href="#">メニューＣ</a></li>
              <li><%= link_to "log_out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      </nav>

    </header>
    <%= yield %>
  </body>
</html>
